html, body{
    width : 100%;
    height : 100%;
}

.bkg{
    width : 100%;
    height : 100%;
    background-image: url('../images/bkg_image.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
}
.dot_img{
    width : 100%;
    height : 100%;
    background-image: url('../images/dot_small.png');
    position: absolute;
    top: 0;
    z-index: 10;
}
.contents{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -230px;
    margin-top: -240px;
    z-index: 20;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
}
.contents_name{
    font-size: 46px;
    margin-bottom: 20px;
}
.contents_intro{
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 70px;
}
.contents_menu{
    margin-left: -20px
}
.menu_list > li {
    font-size: 30px;
    display: inline-block;
    border: 2px solid white;
    border-radius: 30%;
    width : 60px;
    height: 60px;
    margin-right: 10px;
}
.menu_list > li >a{
    color: inherit;
}
.menu_list > li >a >i{
    margin-top: 5px;
    font-size: 30px;
}
.menu_list > li >a >i >p{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 10px;
    
}